<div class="container-md p-3">
    <h3 class="mb-2" >Room Categories</h3>
    <div class="mb-2 row">
        <button type="button" class="offset-2 col-2 btn btn-primary" (click)="showAdd()"> + Add New</button>
    </div>
    <div *ngIf="categories" class="mb-2">
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>No. of Persons</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.description}}</td>
                    <td>{{category.personsNumber}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" (click)="showEdit(category.id)">Edit</a>
                        <a class="btn btn-sm btn-danger" (click)="delete(category.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="z-1 position-absolute top-50 w-75 p-3 foreground" *ngIf="editMode">
        <h4>{{selectedCategory?"Edit " : "Add New "}} Category</h4>
        <form [formGroup]="form">
            <div class="row mb-2">
                <div class="col-2">
                    <label for="description" class="form-label">Description</label>
                </div>
                <div class="col-3">
                    <input type="text" name="description" id="description" formControlName="description" class="form-control">
                </div>
            
                <div class="col-2">
                    <label for="personsNumber" class="form-label">No. of Persons</label>
                </div>
                <div class="col-3">
                    <input type="number" step="1" min="1" name="personsNumber" id="personsNumber" formControlName="personsNumber" class="form-control">
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary col-2" (click)="submitAddEdit()">Submit</button>
                <button type="button" class="btn btn-danger col-2" (click)="cancelEdit()">Cancel</button>
            </div>
        </form>
        <div class="text-sm-start" *ngIf="editErrors">
            {{editErrors |json}}
        </div>
    </div>
    <div class="text-sm-start text-danger" *ngIf="errors">
    {{errors |json}}</div>
</div>
