<div class="container-md p-3">
    <h3 class="mb-2">Customer Types</h3>
    <div class="mb-2 row">
        <button type="button" class="offset-2 col-2 btn btn-primary" (click)="showAdd()">+ Add New</button>
    </div>
    <div *ngIf="types" class="mb-2">
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let type of types">
                    <td>{{type.name}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" (click)="showEdit(type.id)">Edit</a>
                        <a class="btn btn-sm btn-danger" (click)="delete(type.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="z-1 position-absolute top-50 w-75 p-3 foreground" *ngIf="editMode">
        <h4>{{selectedType?"Edit ":"Add New "}} Customer Type</h4>
        <form [formGroup]="form">
            <div class="row mb-2">
                <div class="col-2">
                    <label for="name" class="form-label">Name</label>
                </div>
                <div class="col-3">
                    <input type="text" name="name" id="name" formControlName = "name" class="form-control">
                </div>
            </div>
        </form>
        <div class="row">
            <button type="button" class="btn btn-primary col-2" (click)="submitAddEdit()">Submit</button>
            <button type="button" class="btn btn-danger col-2" (click)="cancelEdit()">Cancel</button>
        </div>
        <div class="text-sm-start" *ngIf="editErrors">
            {{editErrors| json}}
        </div>
    </div>
    <div class="text-sm-start text-danger" *ngIf="errors">
        {{errors |json}}
    </div>

</div>
